@{
    Layout = "~/Views/Shared/_Foundation.cshtml";
}
<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Foundation | Welcome</title>
    <link rel="stylesheet" href="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
</head>
<body>

    <!--CABEÇARIO-->
    <div class="title-bar" data-responsive-toggle="realEstateMenu" data-hide-for="small">
        <button class="menu-icon" type="button" data-toggle></button>
        <div class="title-bar-title">Menu</div>
    </div>

    <div class="top-bar" id="realEstateMenu">
        <div class="top-bar-left">

            <ul class="menu" data-responsive-menu="accordion">
                <li><img src="~/Content/Imagens/ALGE LOGO.png" /> </li>

                <li>@Html.ActionLink("Cliente", "Index", "Cliente")</li>
                <li>@Html.ActionLink("Plano", "Index", "Plano")</li>
                <li>@Html.ActionLink("Contato", "Index", "Contato")</li>
            </ul>
        </div>


    </div>
    <!-- /tela principal -->

    <br>

    <div class="row">



    </div>

    <div class="row column">
        <hr>
    </div>




    <footer>

        <div class="row small-up-1 medium-up-2 large-up-3">
            <div class="column">
                <div class="callout">
                    <p>Pegasi B</p>
                    <p><img src="https://placehold.it/400x370&text=Pegasi B" alt="image of a planet called Pegasi B"></p>
                    <p class="lead">Copernican Revolution caused an uproar</p>
                    <p class="subheader">Find Earth-like planets life outside the Solar System</p>
                </div>
            </div>
            <div class="column">
                <div class="callout">
                    <p>Pegasi B</p>
                    <p><img src="https://placehold.it/400x370&text=Pegasi B" alt="image of a planet called Pegasi B"></p>
                    <p class="lead">Copernican Revolution caused an uproar</p>
                    <p class="subheader">Find Earth-like planets life outside the Solar System</p>
                </div>
            </div>
            <div class="column">
                <div class="callout">
                    <p>Pegasi B</p>
                    <p><img src="https://placehold.it/400x370&text=Pegasi B" alt="image of a planet called Pegasi B"></p>
                    <p class="lead">Copernican Revolution caused an uproar</p>
                    <p class="subheader">Find Earth-like planets life outside the Solar System</p>
                </div>
            </div>
            <div class="column">
                <div class="callout">
                    <p>Pegasi B</p>
                    <p><img src="https://placehold.it/400x370&text=Pegasi B" alt="image of a planet called Pegasi B"></p>
                    <p class="lead">Copernican Revolution caused an uproar</p>
                    <p class="subheader">Find Earth-like planets life outside the Solar System</p>
                </div>
            </div>
            <div class="column">
                <div class="callout">
                    <p>Pegasi B</p>
                    <p><img src="https://placehold.it/400x370&text=Pegasi B" alt="image of a planet called Pegasi B"></p>
                    <p class="lead">Copernican Revolution caused an uproar</p>
                    <p class="subheader">Find Earth-like planets life outside the Solar System</p>
                </div>
            </div>
            <div class="column">
                <div class="callout">
                    <p>Pegasi B</p>
                    <p><img src="https://placehold.it/400x370&text=Pegasi B" alt="image of a planet called Pegasi B"></p>
                    <p class="lead">Copernican Revolution caused an uproar</p>
                    <p class="subheader">Find Earth-like planets life outside the Solar System</p>
                </div>
            </div>

        </div>

        <div class="row column">
            <a class="button hollow expanded">@Html.ActionLink("Home", "Index", "Home") </a>
        </div>


        <div class="row">

            <div class="medium-6 columns">
                <ul class="menu">
                    <li>@Html.ActionLink("Contato", "Index","Contato")</li>
                    <li>@Html.ActionLink("Plano", "Index", "Plano")</li>
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                </ul>
            </div>

            <div class="medium-6 columns">
                <ul class="menu float-right">
                    <li class="menu-text">Pedro Emanoel</li>
                </ul>
            </div>
        </div>

    </footer>

    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
    <script>
        $(document).foundation();
    </script>
</body>
</html>
